:root{
    background-color: #fafafa;
}
p{
    margin: 0;
}
input{
}
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    padding: 0;
}
a{
    text-decoration: none;
}
html,body{
    min-height: 100vh;
    height: auto;
}
footer{
    width: 100%;
    height: 1px;
}
#theme{
    cursor: pointer;
}
.search{
    margin-left: 50px;
    width: 800px;
    flex-direction: row;
}
.search_input{
    width: 600px;
    height : 50px;
}
.home_search_all{
    margin: 10px auto 0;
    display: list-item;
}
.search_res{
    overflow: scroll;
    position: absolute;
    width: 600px;
    height: 92px;
    border-bottom: none;
    border-top: none;
    padding: 0;
}
.search_res li{
    height: 40px;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    margin: 0;
    background-color: #fafafa;

}
.post_li{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    height: 80px;
}
.header p{
    font-size: 18px;
    margin-top: 20px;
}
.user_homes{
    width: fit-content;
    padding-top: 10px;
    color: #000;
    margin-left: auto;
}
.user_homes ul{
    display : flex;
    flex-direction : row;
}
.user_homes ul li{
    margin-top: 15px;
    font-size: 18px;
}
.main{
}
.card{
    padding: 5px 0 0 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin : 5px 20px;
    width: 270px;
    height: 200px;
}
.card a{
    margin: auto 0;
}
.main{
    height: 700px;
}
.start_reviews{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.start_reviews_new{
    margin: 20px 0 20px;
    display: flex;
    flex-direction:row;
}
.rate{
    display: flex;
    flex-direction:row; 
}
.rate p{
    margin: 0px 10px 0 0;
}
.start_reviews_new .trix-content{
    height : 20px;
    margin-bottom: 10px;
    text-oferflow: ellipsis;
    overflow: hidden;
}
.home_head_posts{
    margin: 5px auto 0;
}
.home_head_posts_p{
    font-weight: 600;
    font-size: 22px;
}
.post_li p{
    margin: 0;
}
.post_li a{
    font-size: 18px;
    margin-left: auto;
}

/* home show */
.home_show{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.home_show_d{
    flex-direction: column;
}
.home_show_d a{
    display: block;
    width: 100%;
}
.home_show_mooves{
    width: 400px;
    margin: 0 auto 0 30px;
}
.home_show_posts{
    width: 750px;
    display: flex;
    flex-direction: row;
}
.home_show_post_card{
    padding-bottom: 5px;
}
.home_show_post_card_links{
    flex-direction: row;
}
.home_show_post_card_links a{
    width: fit-content;
    margin-right: 10px;
}
/* post show */
.posts_show p{
    font-size: 20px;
}
.post_show_name{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 10px auto;
}
.post_show_name p{
    margin: 10px 20px;
}
.posts_new_h2{

}
.posts_show_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.posts_show_content p{
    width: fit-content;
    margin: 0 auto 10px;
}
.posts_show_content div{
    text-align: center;
}
.posts_show_content p{
    font-size: 20px;
}
.new_post{
    width: fit-content;
    margin: 10px auto;
}
.all_comments {
    text-align: center;
}
.comment{
    width: 700px;
    margin: 0 auto;
}
.posts_show .card{
    width: 900px;
    height: 600px;
    margin: 40px auto 10px;
}
.line{
    width: 500px;
    margin: 0 auto 15px;
    background-color: blue;
    height: 2px;
}
.new_comment{
    margin-left: 20px;
}
.posts_show_comment{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.posts_show_comment div{
    width: 650px;
}
.button{
    width: 100px;
    height: 50px;
    margin: 50px 0 auto 20px;
    padding: 0;
}
.posts_show_form{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}
.rating-area {

    overflow: hidden;

    width: 265px;

    margin: auto auto;

}

.rating-area:not(:checked) > input {

    display: none;

}

.rating-area:not(:checked) > label {

    float: right;

    width: 42px;

    padding: 0;

    cursor: pointer;

    font-size: 32px;

    line-height: 32px;

    color: lightgrey;

    text-shadow: 1px 1px #bbb;

}

.rating-area:not(:checked) > label:before {

    content: '★';

}

.rating-area > input:checked ~ label {

    color: gold;

    text-shadow: 1px 1px #c60;

}

.rating-area:not(:checked) > label:hover,

.rating-area:not(:checked) > label:hover ~ label {

    color: gold;

}

.rating-area > input:checked + label:hover,

.rating-area > input:checked + label:hover ~ label,

.rating-area > input:checked ~ label:hover,

.rating-area > input:checked ~ label:hover ~ label,

.rating-area > label:hover ~ input:checked ~ label {

    color: gold;

    text-shadow: 1px 1px goldenrod;

}

.rate-area > label:active {

    position: relative;

}
.post_show_submit_rate{
    padding: 0;
    height: 40px !important;
    width: 80px !important;
}