*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,body{
    min-height: 100vh;
    height: auto;
}
footer{
    width: 100%;
    height: 1px;
}
#theme{
    cursor: pointer;
}
.search{
    margin-left: 50px;
    width: 800px;
    flex-direction: row;
}
.search_input{
    width: 600px;
    height : 50px;
}
.home_search_all{
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
}
.search_res{
    position: absolute;
    width: 600px;
    top: 15%;
    border: 2px black solid;
    border-bottom: none;
    border-top: none;
    padding: 0;
}
.search_res li{
    border-bottom: 2px black solid;
    margin: 0;
    background-color: #fafafa;

}
.post_li{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    height: 80px;
}
.header p{
    font-size: 18px;
    margin-top: 20px;
}
.user_homes{
    width: 500px;
    padding-top: 10px;
    color: #000;
    margin-left: auto;
}
.user_homes ul{
    display : flex;
    flex-direction : row;
}
.user_homes ul li{
    margin-top: 15px;
    font-size: 18px;
}
.main{
}
.card{
    padding: 5px 0 0 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin : 5px 20px;
    width: 250px;
    height: 200px;
}
.card a{
    margin: auto 0;
}
.main{
    height: 700px;
}
.start_reviews{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.start_reviews_new{
    margin: 20px 0 20px;
    display: flex;
    flex-direction:row;
}
.rate{
    display: flex;
    flex-direction:row; 
}
.rate p{
    margin: 0px 10px 0 0;
}
.start_reviews_new .trix-content{
    height : 20px;
    text-oferflow: ellipsis;
    overflow: hidden;
}
.home_head_posts{
    margin: 5px auto 0;
}
.home_head_posts_p{
    font-weight: 600;
    font-size: 22px;
}
.post_li p{
    margin: 0;
}
.post_li a{
    font-size: 18px;
    margin-left: auto;
}

/* home show */
.home_show{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.home_show_d{
    flex-direction: column;
}
.home_show_d a{
    display: block;
    width: 100%;
}
.home_show_mooves{
    width: 400px;
    margin: 0 auto 0 30px;
}
.home_show_posts{
    width: 750px;
    display: flex;
    flex-direction: row;
}
.home_show_post_card{
    padding-bottom: 5px;
}
.home_show_post_card_links{
    flex-direction: row;
}
.home_show_post_card_links a{
    width: fit-content;
    margin-right: 10px;
}
/* post show */

:root{
    background-color: #fafafa;
}
